<!DOCTYPE html>
<html lang="en">
<head>
    <title>Email Generation Feature</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body style="background-color: rgb(174, 255, 128, 0.4);">
<div class="container">
    <br>
    <label for="email" style="margin-left: 2.5em"><strong>Email Generator</strong></label>
    <br>
    <input type="text" class="form-control-file" id="file" name="file"
           style="margin-left: 5.0em; border-width: 2px; border-color: black; border-style:solid; width: 300px;">
</div>
<br>
<br>
<br>
<br>
<div class="container">
    <form method="GET" action="/" style="margin-left: 2.5em">
        <button type="submit" class="btn btn-primary" style="margin-left: 2.5em; text-align: center; width: 300px;">
            Return to homepage
        </button>
    </form>
</div>
</body>
</html>