<!DOCTYPE html>
<html lang="en">
<head>
    <title>Homepage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body style="background-color: rgb(174, 255, 128, 0.4);">
<div class="container">
    <br>
    <label for="homepage"
           style="margin-left: 4em; text-align: left; font-size: 20px; width: 300px;"><strong>Homepage</strong></label>
    <br>
    <br>
    <br>
</div>

<div class="container">
    <form method="GET" action="/email" style="margin-left: 2.5em">
        <button type="submit" class="btn btn-primary" style="margin-left: 2.5em; text-align: center; width: 300px;">
            Switch to Email Generator
        </button>
    </form>
</div>
<br>
<div class="container">
    <form method="GET" action="/indexing" style="margin-left: 2.5em">
        <button type="submit" class="btn btn-primary" style="margin-left: 2.5em; text-align: center; width: 300px;">
            Switch to Indexing Value
        </button>
    </form>
</div>
</body>
</html>